.animate {
  opacity: 0;

  &.fade-down {
    transform: translateY(-$space-6);
    transition: transform .45s ease-out, opacity .45s ease-out;
  }

  &.fade-up {
    transform: translateY($space-6);
    transition: transform .45s ease-out, opacity .45s ease-out;
  }

  &.fade-left {
    transform: translateX(86px);
    transition: transform .55s ease-out, opacity .55s ease-out;
  }

  &.fade-right {
    transform: translateX(-86px);
    transition: transform .55s ease-out, opacity .55s ease-out;
  }

  &.animate--active {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.parallax {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 0;
}

.shadow {
  box-shadow: -2px -2px 5px 1px rgba(0, 0, 0, 0.05);
}

.radius {
  border-radius: $radius;
}
