.fade-in {
  transform: translateY(-$space-6);
  opacity: 0;
  transition: transform .45s ease-out, opacity .45s ease-out;

  &--active {
    transform: translateY(0);
    opacity: 1;
  }
}

.parallax {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 0;
}

.shadow {
  box-shadow: -2px -2px 5px 1px rgba(0, 0, 0, 0.05);
}
