.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.items-start {
  align-items: flex-start;
}

.self-end {
  align-self: flex-end;
}

.self-start {
  align-self: flex-start;
}

.grow-1 {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.inline-block {
  display: inline-block;
}

.relative {
  position: relative;
}

.hide {
  display: none;
}

@include mobile() {
  .mobile-hide {
      display: none;
  }

  .mobile-flex-column {
    flex-direction: column;
  }
}
