.icon-dribbble {
  display: block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/icons/dribbble.svg");

  @include mobile() {
    width: 28px;
    height: 28px;
  }
}

.icon-instagram {
  display: block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/icons/instagram.svg");

  @include mobile() {
    width: 28px;
    height: 28px;
  }
}

.icon-linkedin {
  display: block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/icons/linkedin.svg");

  @include mobile() {
    width: 28px;
    height: 28px;
  }
}

.icon-github {
  display: block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/icons/github.svg");

  @include mobile() {
    width: 28px;
    height: 28px;
  }
}

.icon-code {
  display: block;
  width: 32px;
  height:32px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/icons/code.svg");
}

.icon-pen {
  display: block;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/icons/pen.svg");
}

.icon-bulb {
  display: block;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("/icons/bulb.svg");
}

.icon-hamburger {
  display: block;
  width: 32px;
  height: 32px;
  background-color: $white;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("/icons/hamburger-menu-icon.svg");
}


//.icon-arrow-top {
//  display: inline-block;
//  transform: rotate(270deg);
//  width: 16px;
//  height: 16px;
//  mask-image: url($baseurl + "/assets/icons/arrow.svg");
//  -webkit-mask-image: url($baseurl + "/assets/icons/arrow.svg");
//  mask-size: cover;
//  -webkit-mask-size: cover;
//  mask-repeat: no-repeat;
//  -webkit-mask-repeat: no-repeat;
//  background-color: white;
//  &--gray-100 {
//    background-color: $gray-100;
//  }
//}
