* {
  box-sizing: border-box;
  position: relative;
}

img {
  width: 100%;
}

body {
  display: flex;
  justify-content: center;
}

header {
  min-height: 100vh;
  img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }
}
