html, body {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  color: $gray-100;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  @include mobile() {
    font-size: 32px;
    line-height: 48px;
  }
}

h2 {
  font-size: 40px;
  line-height: 48px;
  @include mobile() {
    font-size: 24px;
    line-height: 36px;
  }
}

h3 {
  font-size: 30px;
  line-height: 36px;
}


h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: $fw-bold;
}

h5 {
  font-size: 20px;
  line-height: 24px;
}


p {
  font-size: 20px;
  line-height: 35px;
}

.font-p2 {
  font-size: 16px;
  line-height: 30px;
}

a {
  color: $primary;
}

button {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: $white;
  letter-spacing: 1px;
}

.color-primary {
  color: $primary;
}

.white {
  color: $white;
}

.text-center {
  text-align: center;
}

.fw-bold {
  font-weight: $fw-bold;
}

@include mobile() {
  .mobile-text-center {
    text-align: center;
  }
}
