$gray-100: #232323;
$gray-80: #202020;
$gray-60: #606060;
$gray-40: #9F9F9F;
$gray-20: #C4C4C4;
$gray-10: #DADADA;
$gray-5: #F2F2F2;
$gray-0: #FFF;

$primary: #DD9354;

$space-1: 4px;
$space-2: 8px;
$space-3: 16px;
$space-4: 24px;
$space-5: 32px;
$space-6: 64px;
