.nav {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;

  &__overlay {
    @include mobile() {
      opacity: 0;
      max-height: 0;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($primary, .5);
      box-shadow: none;
      z-index: 5;
      transition: opacity .25s, max-height 0s .25s;
    }

    &--active {
      @include mobile() {
        opacity: 1;
        max-height: 1000px;
        transition: opacity .25s;
      }
    }
  }

  @include mobile() {
    transform: translate(465px, -415px);
    left: auto;
    right: 0;
    height: 600px;
    width: 600px;
    background-color: $gray-100;
    border-radius: 50%;
    box-shadow: -2px -2px 5px 1px rgba(0, 0, 0, 0.05);
    transition: transform .35s;

    &:before {
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: rgba($gray-100, 1);
      position: absolute;
      opacity: 1;
      transform: scale(0);
      transition: none;
    }

    .icon-hamburger {
      position: absolute;
      z-index: 2;
      bottom: 132px;
      left: 84px;
      transition: opacity .25s;
    }
  }

  &--active {
    transform: translate(350px, -300px);
    .icon-hamburger {
      opacity: 0;
    }

    &:before {
      opacity: 0;
      transform: scale(2);
      left: 999999px;
      transition: opacity .25s, transform .25s, left 0s .25s;
    }

    .nav__list {
      opacity: 1;
      pointer-events: auto;

      a {
        pointer-events: auto;
      }
    }
  }

  &__background {
    position: absolute;
    background-color: $white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05);
    transform: translateY(-100px);
    z-index: 1;
    transition: transform .4s;

    @include mobile() {
      display: none;
    }
  }

  &--show-bg {
    .nav__background {
      transform: translateY(0);
    }
  }

  &__list {
    position: relative;
    width: 50%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    padding: $space-4 0;
    z-index: 2;

    &:hover {
      pointer-events: none;

      a {
        color: $gray-60;
      }
    }

    @include mobile() {
      flex-direction: column;
      margin-top: 50%;
      margin-left: 0;
      width: 40%;
      opacity: 0;
      transition: opacity .25s;
    }
  }

  &__link {
    padding: 0 $space-4;

    &:not(:last-child) {
      border-right: 1px solid $gray-100;
    }

    @include mobile() {
      border: none;
      margin-top: $space-3;
    }

    a {
      color: $gray-100;
      transition: color .2s;
      pointer-events: auto;

      @include mobile() {
        display: inline-block;
        width: 100%;
        text-align: right;
        color: $white;
        font-size: $p1;
        pointer-events: none;
      }

      &:hover {
        color: $gray-100;

        @include mobile() {
          color: $white;
        }
      }
    }
  }
}
