.project-card {
  position: relative;
  align-self: flex-start;
  max-width: 50%;
  transition: transform .4s;
  box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.025);

  &:hover {
    transform: translateY(-$space-4);
  }

  &:not(:first-of-type) {
    margin-top: 128px;
  }

  &:nth-of-type(odd) {
    align-self: flex-end;

    .project-card__title {
      left: auto;
      right: 100%;
      transform: translate(50%, -50%);
    }
  }

  &__inner {
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }

  img {
    max-height: 75vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: $radius-big;
  }

  &__title {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 100%;
    background-color: $gray-100;
    color: $white;
    padding: $space-3;
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.135);
    white-space: nowrap;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: $space-4;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(100%);
    background-color: $white;
    z-index: 2;
    transition: transform .4s;
  }

  &--active {
    .project-card__desc {
      transform: translateY(0);
    }
  }
}
