.projects {
  margin-top: 64px;

  &__line {
    position: absolute;
    width: 2px;
    height: calc(100% - 132px);
    left: 50%;
    top: 196px;
    transform: translateX(-50%);
    background-color: $primary;
    z-index: 1;
  }

  &__container {
    display: flex;
    position: relative;
    margin-top: $space-6;
    z-index: 2;

    &:nth-child(odd) {
      flex-direction: row-reverse;

      .projects__title {
        left: auto;
        right: 50%;
        transform: translate(15%, -50%);
      }
    }
  }

  &__card {
    background-color: $white;
    border-radius: $radius;
    position: relative;
    cursor: pointer;

    img {
      box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.035);
      border-radius: $radius;
      transform: translateY(0);
      opacity: 1;
      transition: transform .3s .15s, opacity .3s .15s;
    }

    &--active {
      img {
        transform: translateY(-$space-6);
        opacity: 0;
        transition: transform .3s, opacity .3s;
      }

      .projects__desc {
        transform: translateY(0);
        opacity: 1;
        transition: transform .3s .15s, opacity .3s .15s;
      }
    }

    &:hover {
      transform: translateY(-$space-5);
    }
  }

  &__desc {
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, 0.035);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    padding: $space-6;
    border-radius: $radius;
    transform: translateY($space-6);
    opacity: 0;
    transition: transform .3s, opacity .15s;
  }

  &__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-15%, -50%);
    background-color: $white;
    padding: $space-2;
  }
}
