<h1>Create new post</h1>

<form action="/panel/createPost" method="POST">
  <label for="">Title</label>
  <input type="text" name="title">
  <label for="">Description</label>
  <input type="text" name="description">
  <label for="">Body</label>
  <textarea name="body" id="" cols="30" rows="10"></textarea>
  <input type="submit">
</form>
