<!DOCTYPE html>

<h1>Create new post</h1>

<form action="/panel/createPost" enctype="multipart/form-data" method="POST">
  <label >Title</label>
  <input type="text" name="title">

  <label >Description</label>
  <input type="text" name="description">

  <label >Body</label>
  <textarea name="body" id="test" cols="30" rows="10"></textarea>

  <input type="file" name="main_img" />

  <input type="submit">
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.2.1/tinymce.min.js"></script>

<script nonce="{{ cspNonce }}">
    tinymce.init({
        selector: 'textarea#test'
    });
</script>
