<!DOCTYPE html>

<form action="/panel/projects/{{project.id}}/edit" method="POST">
  <label >Title</label>
  <input type="text" name="title" value="{{ project.title }}">

  <label >Description</label>
  <textarea name="description" cols="30" rows="10">{{ project.description }}</textarea>

  <label for="category">Category</label>
  <select id="category" name="category">
    @each(category in projectCategories())
      @if(project.category == category.value)
        <option value="{{category.value}}" selected>{{ category.desc }}</option>
      @else
        <option value="{{category.value}}">{{ category.desc }}</option>
      @endif
    @endeach
  </select>

  <input type="file" name="preview" />

  <input type="submit">
</form>

<img src="{{ project.preview }}" alt="">
