<h1>Panel</h1>

<h3>Users</h3>
<ul>
  @each(user in users)
  <li><a href="/panel/users/{{user.id}}">{{ user.email }}</a></li>
  @endeach
</ul>z

<h3>Posts</h3>
<div>
  @each(post in posts)
  <a href="/panel/posts/{{post.id}}"><h3>{{ post.title }}</h3></a>
  <h4>{{ post.description }}</h4>
  <div>{{{ post.body }}}</div>
  @endeach
</div>
<a href="/panel/createPost">Create new post</a>

<a href="/logout">Logout</a>
