<h1>{{user.username}}</h1>

<h2>Change password</h2>
<form action="/panel/users/{{user.id}}/change-password" method="POST">
  <label for="password">Password</label>
  <input id="password" name="password" type="password">
  <label for="repeat-password">Repeat password</label>
  <input id="repeat-password" name="repeatPassword" type="password">
  <input type="submit">
</form>

@if(changedStatus)
  <p>{{changedStatus}}</p>
@endif

<a href="/panel/users/{{user.id}}/delete-user">Delete User</a>
