<nav class="nav">
  <div class="nav__background"></div>
  <ul class="nav__list">
    <li class="nav__link"><a href="/">HOME</a></li>
    <li class="nav__link"><a href="/portfolio">PORTFOLIO</a></li>
    <li class="nav__link"><a href="/blog">BLOG</a></li>
    <li class="nav__link"><a href="mailto:wojciech@wjanoszek.com">CONTACT</a></li>
  </ul>
  <span class="nav__hamburger icon-hamburger"></span>
</nav>

<div class="nav__overlay"></div>
