<nav class="nav">
  <div class="nav__background"></div>
  <ul class="nav__list">
    <li class="nav__link"><a href="">HOME</a></li>
    <li class="nav__link"><a href="">PORTFOLIO</a></li>
    <li class="nav__link"><a href="">BLOG</a></li>
    <li class="nav__link"><a href="">CONTACT</a></li>
  </ul>
</nav>
