<nav class="nav nav--show-bg">
  <div class="nav__background"></div>
  <ul class="nav__list">
    <li class="nav__link"><a href="/panel">PANEL</a></li>
    <li class="nav__link"><a href="/">HOME</a></li>
    <li class="nav__link"><a href="/logout">LOG OUT</a></li>
  </ul>
</nav>
