@layout('site.layout.app')
@section('content')
@set('title', 'Blog')

<section class="min-height">
  <div id="show-nav" class="col-12 flex flex-wrap">
    @each(post in posts)
      <div class="col-4">
        @include('site.components.post-card')
      </div>
    @else
      <h1>More articles will be added soon...</h1>
    @endeach
  </div>
</section>

@endsection
