<div class="project-card">
  <div class="project-card__inner">
    <img src="{{ getImgUrl(project.preview) }}" alt="">
    <div class="project-card__desc">
      <p>{{ project.description }}</p>
      <a href="{{ project.project_url }}" class="btn-default mt4">visit website</a>
    </div>
  </div>
  <h1 class="project-card__title">{{ project.title }}</h1>
</div>

